
#tsqWrapper {height:100%;width:100%;position:static;top:0;left:0;}

#tsq1,#tsq2,#tsq3,#tsq4 {height:50%;width:50%;float:left;overflow:auto;}

#tsqWrapper.top1 #tsq1 {width:100%;}
#tsqWrapper.top1 #tsq2 {display:none;}

#tsqWrapper.bottom1 #tsq3 {width:100%;}
#tsqWrapper.bottom1 #tsq4 {display:none;}

#tsqWrapper.left1 #tsq1 {height:100%;}
#tsqWrapper.left1 #tsq3 {display:none;}

#tsqWrapper.right1 #tsq2 {height:100%;}
#tsqWrapper.right1 #tsq4 {display:none;}


